---

---

<section class="sectionGreen bg-secondary my-32 p-10">
  <div class="lg:px-30 grid grid-cols-1 lg:grid-cols-2 min-w-full gap-10">
    <slot />
  </div>
</section>

<style>
  .sectionGreen {
    overflow: hidden;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  document.addEventListener('astro:page-load', anisSectionGreen);
  function anisSectionGreen() {
    const elementos = document.querySelectorAll(".sectionGreen");
    elementos.forEach((elemento) => {
      gsap.from(elemento, {
        scrollTrigger: {
          trigger: elemento,
          start: "medium bottom",
          end: "bottom top",
          toggleActions: "play none none none",
        },
        duration: 0.5,
        scaleY: 0,
        ease: "power3.out",
      });
    });
  }
</script>
