---
const { url, texto } = Astro.props;
---

  <a class="mt-5 mx-auto bg-primary hover:bg-secondary text-white font-medium py-2 px-4 rounded-md transition-colors duration-300 inline-block" href={ url }>{ texto }</a>