---

---
<footer>
  <div class="footer-content my-7">
    <p>&copy; {new Date().getFullYear()} Tecno Finanzas HN. desarrollo por: allanrosales.dev.</p>
    <nav>
      <ul>
        <li><a href="/conocer-mas">Conocer Más</a></li>
        <li><a href="/articulos">Artículos</a></li>
        <li><a href="/sobre-el-sitio">Sobre el sitio</a></li>
      </ul>
    </nav>
  </div>
  <style>
    .footer-content {
      text-align: center;
      padding: 20px;
    }
    nav ul {
      list-style: none;
      padding: 0;
    }
    nav ul li {
      display: inline;
      margin: 0 10px;
    }
    nav ul li a {
      text-decoration: none;
      color: #00ff62;
    }
  </style>
</footer>