---

---
<footer>
  <div class="footer-content my-7">
    <p>&copy; {new Date().getFullYear()} Tecno Finanzas HN. desarrollo por: allanrosales.dev.</p>
    <nav>
      <ul>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/terms-of-service">Terms of Service</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
  <style>
    .footer-content {
      text-align: center;
      padding: 20px;
    }
    nav ul {
      list-style: none;
      padding: 0;
    }
    nav ul li {
      display: inline;
      margin: 0 10px;
    }
    nav ul li a {
      text-decoration: none;
      color: #007bff;
    }
  </style>
</footer>