---

---

<header>
  <div class="mx-auto flex flex-row justify-center items-center p-4 bg-secondary text-white">
    <nav>
      <ul class="flex flex-row space-x-10">
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Conocer más</a></li>
        <li><a href="/contact">Artículos</a></li>
      </ul>
    </nav>
  </div>
</header>