---

---
<section class="min-h-80 bg-gradient-to-r from-primary to-secondary flex flex-row justify-around items-center p-10 ">
  <h1 class="text-7xl">Tecno<br/><strong  class="text-8xl font-extrabold text-background-2">Finanzas</strong>HN</h1>
  <div class="mt-auto text-right">
    <h2 class="font-bold text-xl">Tecnologías <span class="font-black text-background-2">Fintech</span> para todos</h2>
    <p>Usa de forma segura y aprende  sobre <br>el ecosistema de las tecnologías financieras en Honduras.</p>
  </div>
</section>