---

---
<div class="mx-auto flex flex-row justify-center items-center p-1 bg-secondary text-white text-md font-black">
  <nav>
    <ul class="flex flex-row space-x-10 text-center py-2">
      <li class="relative group">
        <a href="/conocer-mas" class="block">
          Temas Principales
          <span class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-primary transform -translate-x-1/2 transition-all duration-300 ease-out group-hover:w-full"></span>
        </a>
      </li>
      <li class="relative group">
        <a href="/conocer-mas/preguntas" class="block">
          Preguntas y Definiciones
          <span class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-primary transform -translate-x-1/2 transition-all duration-300 ease-out group-hover:w-full"></span>
        </a>
      </li>
    </ul>
  </nav>
</div>