---
import { getAllTagsCombined } from "../utilities/getAllTags";
const tags = await getAllTagsCombined(); 
---

<div class="flex flex-col gap-4 mb-10">
  <h2 class="font-bold *:">Etiquetas: </h2>
  <div id="selector" class="flex flex-wrap gap-2">
    {
      tags.map((tag) => (
        <a href={`/tag/${tag}`}>
          <span class="border-extra-soft-white mt-4 self-start rounded border px-2 py-1 text-primary">
            {tag}
          </span>
        </a>
      ))
    }
  </div>
</div>