---
import Layout from '../../../layouts/Layout.astro';
import HeroGeneric from '../../../components/HeroGeneric.astro';
import SubMenuConocerMas from '../../../components/SubMenuConocerMas.astro';
import Chevrons from '../../../components/Chevrons.astro';
import preguntas from '../../../content/preguntas.json';
---
<Layout title="Preguntas Frecuentes - Tecno Finanzas HN">
  <HeroGeneric/>
  <SubMenuConocerMas />
  <main class="container mx-auto max-w-5xl my-10 px-5">
    <section class="mb-10 ">
      <h1 class="font-bold text-4xl mb-2">Preguntas y definiciones</h1>
      <p>
        Conceptos y definiciones que te ayudarán a entender mejor el ecosistema de las Fintech en Honduras.
      </p>
      <div class="mt-4 mb-6">
        <p class="text-xl">Filtrar:</p>
        <input id="search" type="text" placeholder="Buscar..." class="border border-gray-300 rounded p-2 w-full" />
      </div>
    </section>
    <section>
      <p id="resultado" class="mb-5 min-h-7"></p>
      <ul id="lista-data" class="space-y-4">
        {preguntas.map((pregunta) => (
          <Chevrons
            titulo={pregunta.titulo}
            detalles={pregunta.descripcion}
          />
        ))}    
      </ul>
    </section>
</main>
</Layout>

<style>
  ul li {
    list-style-type: none;
    padding: 0;
  }
</style>

<script>
  import searchFilter from '../../../utilities/searchFilter'
  searchFilter();
</script>
